.help_list {
  margin: 0;
  padding: 0;
  z-index: 10;
  max-height: 500px;
  list-style: none;
  position: absolute;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

  li {
    padding: 10px;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}